body {
    font-family: sans-serif;
    justify-content: center;
}


.gallery {
    display: flex;
    width: 500px;
    flex-wrap: wrap;
}

.container{
    display: flex;
}

img{
    height: 150px;
    width: 130px;
}

.prewiev{
    width: 700px;
    height: 900px;
}

.gallery img:hover{
    height: 350px;
    width: 250px;
    border: 2px double blue;
    margin: 20px;
}

iframe{
    margin-top:50px;
}

a{
    text-decoration:none;
}

.knopka{
    margin-left: 50px;
    border: 2px solid lightblue;
    background-color: lightblue;
    color: black;
    padding: 9px;
    border-radius: 10px;
    font-size: 20px;
}
